body{
    display: flex;
    background: linear-gradient(#baf7ba,#d34444); 
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 5%;
}

label{
    font-size: x-large;
}

textarea{
    height: 50px;
}

#Cardapio{
    display: grid;
    width: 100%;
    border-radius: 25px;
    background-color: white;
    padding: 2%;
}

#sec{
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 25px;
    flex-direction: column;
    background-color: rgb(126, 245, 126);
    gap: 5px;
}

#form{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center ;
    width: 50%;
    height: 75% ;
    gap: 12px;
    padding: 12px;
}

#form input{
    width: 170px;
    padding: 10px 15px;
    border: 2px solid #4CAF50;
    border-radius: 12px;
    outline: none;
    transition: all 0.3s ease;
}

.table {
    color: white;
    box-shadow: 3px 3px 4px #504f4f;
    background-color: #d34444;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, sans-serif;
}

th, td {
  padding: 10px;
}

.table th{
    box-shadow: 0px 3px 4px #504f4f;
    background-color: #d34444;
}

.table input[type="number"]{
    width: 35px;
    text-align: center;
    padding: 10px 15px;
    border: 2px solid #4CAF50;
    border-radius: 12px;
    outline: none;
    transition: all 0.3s ease;
}

.table input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.table button{
    padding: 5px 10px;
    margin: 2px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #4CAF50;
    color: white;
    transition: 0.3s;
}

.table button:hover{
    background: #45a049;
}

.table tr:nth-child(odd){
    background: #1e1e1e;
}

.table tr:nth-child(even){
    background: #6b6b6b;
}

.banner {
  position: relative;     
  width: 100%;
  max-width: 1200px;

}

.banner img {
  width: 100%;
  height: auto;
  display: block;
}

.banner button {
    position: absolute;
    top: 68%;   
    left: 50%;  
    transform: translate(-50%, -50%) scale(1);

    padding: 3% 7%;      
    font-size: 200%;
    max-height: 25%;

    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease; 
}

.banner button:hover {
    box-shadow: 0 0 15px #ff4d4d;
    transform: translate(-50%, -50%) scale(1.1);
}

.botaum{
    padding: 5px 10px;
    margin: 2px;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #eb7a7a;
    color: white;
    transition: all 0.2s ease; 
}

.botaum:hover{
    box-shadow: 0 0 15px #ff4d4d;
    background-color: #d34444;
    transform: scale(1.1, 1.1);
}

.resumo{
    background-color: white;
    border-radius: 15px;
    width: 400px;
    justify-items: center;
    padding: 20px;
}
.resumo div{
    width: 300px;
    background-color: rgba(238, 235, 235, 0.705);
    border-radius: 10px;
}
.resumo table{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(128, 126, 126, 0.705);
    background-color: rgba(238, 235, 235, 0.705);
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #lista li{
        width: 100%;
        flex-direction: column;
    }

}

@media screen and (max-width: 620px) {
    .banner button {
        transition: ease-in-out .2s;
        font-size: 15px;
    }
    .table {
        transform: scaleX(80%);
    }
    #Cardapio{
        justify-content: center;
    }
}

